/* подключение локальный шрифтов на страницу */
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  display: swap;
}

* {
  box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

a .sneaker {
  transition: box-shadow  200ms ease-in-out;
  transition: transform 300ms;
}

a .sneaker:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.1);
}

a .sneaker:active {
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.1);
}

/* задание шрифта всей странице */
body {
  font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f1f1;
}

/* стили для хедера(шапки) сайта */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #a1a6b4;
  background: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 24px 0 24px;
}

.logo-link {
  max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.nav-item {
  display: inline;
}

.nav-link {
  color: #121723;
  font-size: 20px;
  font-weight: 700;
}

/* стили для  */
.content {
  margin: 32px 0;
  max-width: 1140px;
}

h1 {
  font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0 0;
}

/* стили для карточки кроссовок */
.sneaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 364px;
  height: 100%;
  border-radius: 12px;
  background: white;
}

.sneaker-image {
  width: 100%;
  border-radius: 12px;
}

.sneaker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 32px 24px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121723;
}

/* стили для футера */
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 32px 0;
}

.footer__logo-link {
  max-width: 300px;
  width: 100%;
}

footer .nav-link {
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  border-top: 1px solid #a1a6b4;
}

.copyright-text {
  color: #a1a6b4;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0;
}

.main-content {
  margin: 20px 0 auto;
  margin-bottom: 20px;
  width: 80%;
  background-color: white;
  border-radius: 50px;
}

.sneaker-big__img {
  margin: 0 auto;
  text-align: center;
}

.sneaker-big__img img{
  width: 90%;
}

.sneaker-big__title p {
  font-size: 48px;
  font-weight: 400;
  margin: 0 70px auto;
  

}

.sneaker-big__subtitle p {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 70px auto;
}

.table {
  width: 100%;
  max-width: 506px;
}

.sneaker-big__info {
  margin-bottom: 50px;
}

.table__title{
  font-size: 30px;
  font-weight: 400;
}

.table__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.sneaker-big__additional {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 30px;
}

.sneaker-big__text {
  max-width: 50%;
}

.sneaker-big__text p {
  font-weight: 400;
  font-size: 20px;
  max-width: 506px;
  line-height: 28px;
  margin-bottom: 24px;
}

@media (max-width: 375px) {
  .content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
  }


  .sneakers {
    align-items: center;
    margin-top: 32px;
    margin: 32px auto;
    
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
  }

  .sneaker-info p {
    font-size: 20px;
    font-weight: 400;
  }

  .content {
    max-width: 375px;
  }

  .main-content {

    display: flex;
    flex-direction:column;
    max-width: 375px;
    width: 90%;
  }

  .sneaker-big__img {
    margin-top: 30px;
  }

  .sneaker-big__info {
    display: flex;
    flex-direction:column;
    max-width: 385px;

  }

  .sneaker-big__text {
    max-width: 295px;
    font-size: 16px;
  }

  .sneaker-big__additional {
    display: flex;
    flex-direction:column;
    max-width: 385px;
    margin: 0 20px;
  }

  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 385px;
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 385px;
  }
  
  body {
    max-width: 385px;
  }

  .logo-link {
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
  }

  .table__row p {
    padding: 20px 0px;
  }

  .table__title{
    font-size: 24px;
    font-weight: 400;
  }

  .sneaker-big__title p {
    font-size: 32px;
    font-weight: 400;
    margin: 0 20px;
  
  }

  .sneaker-big__subtitle p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 20px;
  }

  .table {
    margin: 0 auto;
  }
  .table__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px 0;
  }

  .footer__logo-image { 
    margin-bottom: 20px;
  }

  .sneaker-big__text p {
    font-size: 16px;
  }

  .copyright {
max-width: 90%;
}

}

